{% extends 'admin_panel/base_admin.html' %} {% block title %}Categories{%
endblock %} {% block content %}

<h2 class="mb-4">🏷 Manage Categories</h2>

<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Category Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>1</td>
      <td>Fiction</td>
      <td><button class="btn btn-sm btn-danger">Delete</button></td>
    </tr>
  </tbody>
</table>

{% endblock %}
