{% extends 'admin_panel/base_admin.html' %} {% block title %}Addresses{%
endblock %} {% block content %}

<h2 class="mb-4">User Addresses</h2>

<table class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Address</th>
      <th>City</th>
      <th>Pincode</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>11</td>
      <td>HitOza</td>
      <td>21 MG Road</td>
      <td>Mumbai</td>
      <td>400001</td>
    </tr>
  </tbody>
</table>

{% endblock %}
