{% extends 'admin_panel/base_admin.html' %} {% block title %}Offers{% endblock
%} {% block content %}

<h2 class="mb-4">Manage Offers & Coupons</h2>

<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Coupon Code</th>
      <th>Discount (%)</th>
      <th>Expiry Date</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>1</td>
      <td>FIRST50</td>
      <td>50%</td>
      <td>2025-12-31</td>
    </tr>
  </tbody>
</table>

{% endblock %}
