{% extends 'base.html' %}
{% load static %}
{% block title %}{{ category }} Books{% endblock %}

{% block content %}
<div class="container py-4">
  <h2 class="text-center mb-4 text-primary">{{ category }} Books</h2>
  <div class="row">
    {% for book in books %}
    <div class="col-md-3 mb-4">
      <div class="card h-100 shadow-sm">
        <img src="{{ book.image }}" class="card-img-top" alt="{{ book.title }}">
        <div class="card-body text-center">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="text-muted">{{ book.author }}</p>
          <p class="fw-bold">₹{{ book.price }}</p>

          <div class="d-flex justify-content-between mb-2">
            <button class="btn btn-sm btn-outline-primary w-50 me-1" data-bs-toggle="modal" data-bs-target="#bookModal{{ forloop.counter }}">Details</button>
            <button class="btn btn-sm btn-success w-50 ms-1" ><a href='/cart/'>Add to Cart</button>
          </div>
          <button class="btn btn-warning btn-sm w-100"><a href='/cart/buy_now/'>Buy Now</button>
        </div>
      </div>
    </div>

   {% endfor %}
  <a href="{% url 'books:categories' %}" class="btn btn-secondary mt-4">← Back to Categories</a>
</div>

{% endblock %}
